</html>
<!DOCTYPE html>
<html>
<head>
    <title>Practica 3</title>
    <link rel='stylesheet' href='/stylesheets/style.css' /> 


        <div class="contenedor-botones">
            <a href="/chatusuario" class="boton"><%= boton5 %></a>
            <a href="/chatstaff" class="boton"><%= boton6 %></a>

        </div>
</head>

</html>