</html>
<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido a Hotel Sergio</title>
    <link rel='stylesheet' href='/stylesheets/stylerestaurante.css' />
    <link rel="icon" type="image/png" sizes="48x48" href="/images/favicon.png">
        <div class="header">
            <h1><%= title %></h1>
            <p>¡Tu escapada perfecta!</p>
        </div>

    

        <div class="contenedor-botones">
            <a href="/" class="boton"><%= boton1 %></a>
            <a href="/actividades" class="boton"><%= boton2 %></a>

        </div>
</head>

<body>
    <div class="galeria">
        <div class="contenedor-imagen">
            <img src="/images/recortada_restaurante.png" alt="Descripción imagen 4">
            <p class="texto-sobre-imagen">Restaurante</p>
        </div>
        <div class="contenedor-imagen">
            <img src="/images/recortada_Cocinaenvivo.png" alt="Descripción imagen 2">
            <p class="texto-sobre-imagen">Cocina en vivo</p>
        </div>
        <div class="contenedor-imagen">
            <img src="/images/recortada_bar.png" alt="Descripción imagen 1">
            <p class="texto-sobre-imagen">Bar</p>
        </div>
        <div class="contenedor-imagen">
            <img src="/images/recortada_cenasprivadas.png" alt="Descripción imagen 3">
            <p class="texto-sobre-imagen">Cenas privadas</p>
        </div>

    </div>


    
    <div class="contenedor">
        <img src="/images/restaurante.png" alt="Restaurante" class="imagen-redondeada">
        <div class="texto">
            <p class="titulo"><b>Restaurante</b></p>
            <p class="cuerpo">Nuestro restaurante ofrece una experiencia culinaria sin igual con platos que fusionan sabores locales e internacionales. Cada bocado es una obra de arte, servido en un entorno elegante con vistas cautivadoras. Es ideal para quienes aprecian la alta gastronomía en un ambiente refinado.</p>
        </div>
    </div>
    <div class="contenedor">
        <img src="/images/cocinaenvivo.png" alt="Cocina en vivo" class="imagen-redondeada">
        <div class="texto">
            <p class="titulo"><b>Cocina en vivo</b></p>
            <p class="cuerpo">Experimenta la magia culinaria de cerca en nuestra sala de cocina en vivo. Aquí, la cocina se convierte en un espectáculo, donde los chefs preparan platos exquisitos ante tus ojos. Es una celebración interactiva del sabor, perfecta para los aficionados a la gastronomía que buscan una experiencia gastronómica dinámica y participativa.</p>
        </div>
    </div>
    <div class="contenedor">
        <img src="/images/bar.png" alt="Bar" class="imagen-redondeada">
        <div class="texto">
            <p class="titulo"><b>Bar</b></p>
            <p class="cuerpo">Sumérgete en el ambiente relajado de nuestro bar del hotel, un oasis de sofisticación donde cada sorbo cuenta. Con una selección de cócteles artesanales y una carta de vinos cuidadosamente seleccionada, es el lugar perfecto para encuentros íntimos o una noche tranquila. Disfruta de la música suave y el diseño elegante mientras te deleitas con pequeñas exquisiteces culinarias.</p>
        </div>
    </div>
    <div class="contenedor">
        <img src="/images/cenasprivadas.png" alt="Cenas privadas" class="imagen-redondeada">
        <div class="texto">
            <p class="titulo"><b>Cenas privadas</b></p>
            <p class="cuerpo">La sala de cenas privadas es un espacio exclusivo diseñado para eventos corporativos y reuniones de negocios. Combina privacidad, estilo y una excelente cocina, lo que garantiza que cada evento sea memorable. Servicio personalizado y tecnología de vanguardia se alinean para cumplir con los estándares empresariales más exigentes.</p>
        </div>
    </div>

    <div class="contact">
        <h2>Contacto</h2>
        <p>Teléfono: 922678095</p>
        <p>Email: contacto@hotelSergio.com</p>
    </div>

</body>
</html>