

.header {
  text-align: center;
  background-color: #3c3c3c;
  color: white;
  margin: 20px;
  font-family: Arial, sans-serif;
}

 .contact {
  margin: 20px;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
}

.contenedor-botones {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 0;
}

.boton {
  flex: 1; 
  padding: 10px 20px;
  margin: 0 10px; 
  border: none;
  border-radius: 5px;
  background-color: #3c3c3c;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
  font-family: Arial, sans-serif;
}

.boton:hover {
  background-color: #3c3c3c;
}


body, html {
  margin: 0;

 margin-top: 40px; /* Ajusta este valor según la altura de tu contenedor de botones */

  padding: 0;
  height: 100%;
}

button {
  background-color: #3c3c3c; 
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #3c3c3c; 
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}
.botones-contenedor {
  position: fixed;   
  top: 0;            
  left: 0;           
  right: 0;
  text-align: center; 
  background-color: #fff;
  border-bottom: 1px solid #ddd; 
  padding: 10px 0; 
  z-index: 1000; 
}