


.header {
  text-align: center;
  background-color: #3c3c3c;
  color: white;
  margin: 20px;
  font-family: Arial, sans-serif;
}

 .contact {
  margin: 20px;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
}

.contenedor-botones {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 0;
}

.boton {
  flex: 1; /* Cada botón ocupa un tercio del espacio disponible */
  padding: 10px 20px;
  margin: 0 10px; /* Añade separación entre botones */
  border: none;
  border-radius: 5px;
  background-color: #3c3c3c;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
  font-family: Arial, sans-serif;
}

.boton:hover {
  background-color: #3c3c3c;
}


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.galeria {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-imagen {
    position: relative;
    width: 24%; /* Aproximadamente un cuarto del ancho total */

}

.contenedor-imagen img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center; /* Centra la imagen */
    overflow: hidden;
}

.texto-sobre-imagen {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejorar la legibilidad */
    padding: 5px 0;
}
.contenedor {
  display: flex;
  align-items: flex-start; /* Alinea verticalmente los elementos */
  margin: 50px; 
}

.imagen-redondeada {
  width: 800px; 
  border-radius: 15px; /* Bordes redondeados */
  margin-right: 20px; /* Separación entre la imagen y el texto */
}

.texto {
  flex-grow: 1;
}
.titulo{
  font-family: Arial, sans-serif;
  font-size: 40px;
}
.cuerpo{
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-align: justify;
  margin-right: 20px;
}